<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/newteam">
     <p><label for="team_name">Team Name: </label><input name="team_name" type="text"/></p>
<p><label for="coach">Coach: </label><input name="coach" type="text"/></p>   
<p><label for="point_guard">Point Guard: </label><input name="point_guard" type="text"/></p>
<p><label for="shooting_guard">Shooting Guard: </label><input name="shooting_guard" type="text"/></p>
<p><label for="small_forward">Small Forward: </label><input name="small_forward" type="text"/></p>
<p><label for="power_forward">Power Forward: </label><input name="power_forward" type="text"/></p>
<p><label for="center">Center: </label><input name="center" type="text"/></p>     
 </body>
</html>


